<!DOCTYPE html>
<html>
<!-- Test To Upload PDFs -->
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/dropzone.css">
  </head>
  <body>
    <form action="/doc/upload/"
      class="dropzone"
      id="my-awesome-dropzone"></form>
  </body>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous">
  </script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/dropzone.js"></script>
  <script type="text/javascript">
    var captureFile = (file) => {
      console.log('captured file: ', file);
    }
    Dropzone.options.myAwesomeDropzone = {
      init: function() {
        this.on("addedfile", captureFile);
        this.on('success', (file, res) => {
          console.log('File uploaded successfully');
          window.location = res;
        })
      }
    };
  </script>
</html>